
<%= if @live_action in [:new, :edit] do %>
  <%= live_modal @socket, NflRushingWeb.PlayerLive.FormComponent,
    id: @player.id || :new,
    title: @page_title,
    action: @live_action,
    player: @player,
    return_to: Routes.player_index_path(@socket, :index) %>
<% end %>

Parent params is <%= "@parent_params" %>
<%= live_component @socket, NflRushingWeb.PlayerLive.FilterAndSortComponent,
                   id: 1, player: @player, parent_params: @parent_params %>
