<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NFL Rushing Statistics</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <div class="container mx-auto px-4 my-16">
      <header>
        <h1 class="text-5xl p-4 mb-4 font-extrabold text-center bg-clip-text text-transparent bg-gradient-to-r from-green-600 to-yellow-500">
          NFL Rushing Statistics
        </h1>
      </header>

     <div class=" items-center justify-center font-sans ">
        <img src=<%= Routes.static_path(@conn, "/images/404page.jpg") %> class="w-1/2 h-1/2 object-center mb-6 mx-auto" />
        <p class="text-center">Are you looking for the
          <%= link("Players statistics page",
                to: "/players",
                class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
              )
          %>?
        </p>
      </div>
    </div>
  </body>
</html>
